@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
    a{
        @apply text-primary hover:underline;
    }
    button{
        @apply transition hover:shadow ;
    }
}
@layer components{




}


